body {
    font-family: 'Open Sans', sans-serif;
    margin: 56px 0 56px 0;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

/* button-xs
---------------------------- */
.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

li.page-item a {
    font-size: 0.85rem;
}
/*Players css
*/
#Players{
    margin: 10px;
}
.logo {
    width: 50px; 
    height: 50px; 
    object-fit: cover; 
  }
.Photo {
    width: 50px; 
    height: 50px; 
    object-fit: cover;  
}
.link-hover:hover {
    color: #007bff; /* Change to the desired hover color */
    text-decoration: underline;
}
.header-underline {
    border-bottom: 2px solid #007bff; /* Change to the desired underline color */
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.info-row {
    margin-bottom: 15px;
}

.card-section {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;}

#arenasbutton:hover{
    cursor: pointer;
}
.lista_de_players{
    column-count: 7;
    margin: 2px;
    -webkit-column-count: 7;  
    -moz-column-count: 7; 
    list-style-type: none;
    

}
.list_frame{
    padding: 5px;
    border: solid 1px rgb(10, 10, 10);
    margin-bottom: 5px;
}
.span_lista_de_players{

    display: inline-block;  
    text-align: center;     
    width: 100%;
}
.lista_de_seasons{
    column-count: 6;
    margin: 2px;

    list-style-type: none;
}
#back_to_list{
    position: sticky;
    top: 60px;;
    float: right;

}



#switch_mode {
    width:80px;
    height:30px;
    position: relative;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }
  #switch_mode:after {
    content: "";
    width:30px;
    height: 30px;
    position: absolute;

    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  }
  #darkmode-toggle {

    visibility: hidden;
  }

  #darkmode-toggle:checked + #switch_mode {
    background: #242424;
  }
  #darkmode-toggle:checked +  #switch_mode:after {
    left: 80px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  #switch_mode,  #switch_mode:after {
    transition: 1s
  }
  #switch_mode:active:after{ 
    width: 80px; 
  }
  #switch_mode i {
    position: absolute;
    width: 120px;
    top:9px;

    z-index: 100;
  }
  #switch_mode i.fa-sun {
    left:5px;
    color:#fff;
    transition: 0.3s;
  }
  #switch_mode i.fa-moon {
    left:60px;
    color:#7e7e7e;
    transition: 0.3s;
  }
  #darkmode-toggle:checked + #switch_mode i.fa-sun {
    color:#7e7e7e;
  }
  #darkmode-toggle:checked + #switch_mode i.fa-moon {
    color:#fff;
  }